discord
git+https://github.com/Rapptz/discord.py@master#egg=discord.py
git+https://github.com/Regaus/Regaus.py.git@stable#egg=regaus.py
Pillow
aiohttp
python-dateutil
asyncio
pytz
jishaku>=2.0.0
luas.py
jstyleson
markovify