discord.py
git+https://github.com/Regaus/Regaus.py.git@stable#egg=regaus.py
anytree  # This is used in Regaus.py, but I'll add it here just in case it decides to be stupid
Pillow
aiohttp
python-dateutil
asyncio
pytz
git+https://github.com/Gorialis/jishaku.git@master#egg=jishaku  # Use github version of jishaku because it doesn't use line-profiler, which is broken on py3.11
luas.py
jstyleson
markovify
scipy
numpy