Pillow
discord
git+https://github.com/Rapptz/discord.py@master#egg=discord.py
aiohttp
python-dateutil
asyncio
yarl<1.2
pytz
jishaku>=2.0.0
luas.py
requests
psutil
numpy
git+https://github.com/Regaus/Regaus.py.git@stable#egg=regaus.py
jstyleson